@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Orbitron&family=Poppins:wght@300&display=swap');


section {
    width: 100%;
    height: 80vh;
}

h1 {
    font-size: 13px;
    font-family: "Orbitron";
    color: navy;

}

.topwrap h1 {
    font-size: 1.5rem;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 587px; /* Should be removed. Only for demonstration  587px*/
    overflow: auto;
  }

  .column img {
    /* margin-left: 50px; */
    max-width: 100%;
    height: auto;
    
}

.column h2 {
  margin-top: 20px;
}
.col1 {
    float: left;
  width: 40%;
  padding: 10px;
  height: 350px;
  overflow: auto;
}
.col1 img {
    margin-bottom: 30px;
    text-align: center;
    max-width: 263px;
    height: 139px;
}
 
.col2 {
    float: left;
  width: 60%;
  padding: 10px;
  height: 350px;
  overflow: auto;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #wrapper a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: #D2E5F5;
    color: navy;
    border-radius: 5px;
    text-align: center;
    font-size: 0.6rem;
    width: 200px;
    height: 40px;
    border-color: #D2E5F5;
    position: auto;
    
    
  }
  #wrapper a:focus {
    box-shadow: #d2d2ee 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #babaea 0 -3px 0 inset;
  }
  #wrapper  a:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  #wrapper a:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  } 

 
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* .image1 {
    position: absolute;
    width: 518px;
    height: 344px;
    left: 773px;
    top: 151px;
} */

@media only screen and (max-width: 480px) {
    .topwrap {
        width: 100%;
    }

    
    
}